.bluecontainer{
    background-color: rgb(103,75,255);
}

.center {
    padding: 70px 0;
    text-align: center;
  }

.blueicon{
    color: rgb(103,75,255);
}


.resize{
    width: 50%;
    height: 50%;
    object-position: 50% 50%;
}

@media (min-width: 922px){
.rotate{
    transform: rotate(25deg);
}}

.moveleft{
    padding-left: 12.5%;
}

.moveright{
    padding-right: 25%;
}

.li {
    margin-left: 15%;
}

.center_text{

    text-align: center;
    
    }
.black_text{
    color: #1f1f1f
}

.img15 {
    width: 15%;
    height: 15%;
   }
.img7{
    width:7%;
    height:7%;
}

.body {
    background-repeat: no-repeat;
    background-image: url('img_smallflower.jpg'); 
  }

  .inctextsize450 {
    font-size:450%;
  }

  .inctextsize200 {
    font-size:200%;
  }
  
  .stretchtext{
      font-stretch:extra-expanded;
  }

  .pad{
      padding:2%;
  }

  .leftpad{
      padding-left:60%;
  }

  .rightpad{
      padding-right:60%
  }

  .toppad{
      padding-top:25%;
  }


  .bottompad{
      padding-bottom:25%;
  }

  .buttonsize {
      font-size: 200%;}
  .iconpadding{
      padding:2.5%  
  }

  .buttonpadding{
      padding:5%
  }

  .moveMyApp{
      padding-left:7.5%;
  }

  .footerpad{
      padding-bottom:5%
  }

  .websiteMargin {
    margin: 20px;}


.paddingBlock {
    padding-block: 100px;
}

.mainContainer{
    padding-inline: 100px;
    max-height: 700px}
