.bluecontainer{
    background-color: rgb(103,75,255);
}

.center {
    padding: 70px 0;
    text-align: center;
  }

.blueicon{
    color: rgb(103,75,255);
}


.resize{
    width: 50%;
    height: 50%;
    object-position: 50% 50%;
}

.rotate{
    transform: rotate(25deg);
}

.moveleft{
    padding-left: 12.5%;
}

.moveright{
    padding-right: 25%;
}

.li {
    margin-left: 15%;
}

.font{
    font-family:'Courier New', Courier, monospace;
}

.center_text{

    text-align: center;
    
    }
.black_text{
    color: #1f1f1f
}

.img15 {
    width: 15%;
    height: 15%;
   }
.img7{
    width:7%;
    height:7%;
}